.slider img {
  object-fit: cover;
}
.sliderArrow {
  font-size: 30px;
}
.sliderArrow:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.233);
}
@media screen and (max-width: 924px) {
  .slider img {
    width: 300px;
  }
}
